<nav>
    <div class="nav-wrapper light-blue lighten-1">
      <a href="#!" class="brand-logo center">Settings</a>

      <form action="/" method="get">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <button class="waves-effect waves-light btn orange animated fadeInLeft"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
      </form>

    </div>
</nav>

<div id="editPassword" class="container">
    <%= form_for(@user) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, :readonly => true %><br />

      <%= f.label :password %>
      <%= f.password_field :password %><br />

      <button class="waves-effect waves-light btn orange animated fadeInLeft"><%= f.submit %></button>
    <% end %>
</div>
